.profile {
  margin-inline: auto;
  width: 282px;
  height: 372px;
  background-color: white;
  border-radius: 5px;
}

.description {
  height: calc(372px - 83px);
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 20px;
}
.name {
  font-weight: 700;
}
.tag {
  margin: 12px;
}
.location {
  font-weight: 500;
}

.tag,
.location,
.label {
  color:  #a4a6a8;
  font-size: 14px;
}

.stats{
    display: flex;
     height: 80px;
  width: 100%;
}

.stats li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% / 3);
  background-color: #f1f2f5;
  padding-left: 0px;
}
.quantity {
  font-size: 14px;
  font-weight: 500;
}

/* 
 #d4d5d8;
    --ifm-color-secondary-darker: #c8c9cc;
    --ifm-color-secondary-darkest: #a4a6a8;
    --ifm-color-secondary-light: #eef0f2;
    --ifm-color-secondary-lighter: #f1f2f5;
    --ifm-color-secondary-lightest: #f5f6f8; */
